{% extends "layouts/layout.html" %}
{% block bodyArea %}
    <div class="container" id="layoutSidenav_content" style="margin-top: 75px; margin-left: 400px;">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Personel Listesi
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Adı Soyadı</th>
                            <th>Pozisyon</th>
                            <th>Departman</th>
                            <th>Kimlik No</th>
                            <th>Başlangıç Tarihi</th>
                            <th>E-Posta</th>
                            <th>Kodu</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Adı Soyadı</th>
                            <th>Pozisyon</th>
                            <th>Departman</th>
                            <th>Kimlik No</th>
                            <th>Başlangıç Tarihi</th>
                            <th>E-Posta</th>
                            <th>Kodu</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for per in personel %}
                        <tr>
                            <td><a class="text-black-100 text-decoration-none color-black;" href="/perUpd/{{per.username}}">{{per.name}} {{per.surname}}</a></td>
                            <td>{{per.unvan}}</td>
                            <td>{{per.dept}}</td>
                            <td>{{per.id_no}}</td>
                            <td>{{per.date}}</td>
                            <td>{{per.email}}</td>
                            <td>{{per.username}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock bodyArea %}